<html lang="ko">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>violetcarrotpie</title>
{% load static %}
<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

</head>

<body> 
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
<!-- WRAPPER ALL -->
<div class="edina_tm_all_wrap" data-magic-cursor=""> <!-- If you want disable magic cursor add value "hide" -->	
	
	<!-- MODALBOX -->
	<div class="edina_tm_modalbox">
		<div class="box_inner">
			<div class="close">
				<a href="#"><img class="svg" src="/static/img1/svg/cancel.svg" alt="" /></a>
			</div>
			<div class="description_wrap"></div>
		</div>
	</div>
	<!-- /MODALBOX -->

	<!-- MOBILE MENU -->
	<div class="edina_tm_mobile_menu">
		<div class="mobile_menu_inner">
			<div class="container">
				<div class="mobile_in">
					<div class="logo">
						<a href="#"><img src="/static/img/logo2.png" alt=""  width="50" height="50" /></a>
					</div>
					<div class="my_trigger">
						<div class="hamburger hamburger--collapse-r">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<div class="container">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#blog">Blog</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /MOBILE MENU -->
	
	<!-- SIDEBAR -->
	<div class="edina_tm_sidebar">
		<div class="sidebar_inner">
			<div class="logo">
				<a href="#"><img src="/static/img/logo2.png" alt="" height="50" width="50" /></a>
			</div>
			<div class="menu">
				<ul class="anchor_nav">
					<li>
						<div class="list_inner current">
							<a href="#home"><img class="svg custom" src="/static/img/home.png" alt="" />Home</a>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<a href="#about"><img class="svg custom" src="/static/img/about.png" alt="" />About</a>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<a href="{% url 'blog' %}"><img class="svg custom" src="/static/img/blog.png" alt="" />Blog</a>
						</div>
					</li>
					<li>
						<div class="list_inner">
							<a href="#contact"><img class="svg custom" src="/static/img/phone.png" alt="" />Contact</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="author">
				<div class="inner">
					<div class="short">
						<h3>Sooyeon</h3>
						<a href="#">leesooyeon815@gmail.com</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /SIDEBAR -->
	
	<!-- MAINPART -->
	<div class="edina_tm_mainpart">
		
			<!-- HERO -->
		<div class="edina_tm_hero" id="home">
			<div class="content">
				<div class="image">
					<div class="main" data-img-url="/static/img/me5.PNG"></div>
				</div>

				<div class="extra">
					<h3 class="name">Sooyeon Lee</h3>
					<p class="text">안녕하세요. 백엔드 개발자 이수연 입니다. 반갑습니다.</p>
					<div class="social">
						<ul>
							<li><a href="https://github.com/SooyeonLee000"><img class="" src="/static/img/git.png" alt="" height="50" width="50" /></a></li/>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="edina_tm_about" id="about">
			<div class="container">
				<div class="about_title">
					<h3>About Me</h3>
				</div>
				<div class="content">
					<div class="leftpart wow fadeInLeft" data-wow-duration="1s">
						<div class="info">
							<h3>Hi, I'm <span>Sooyeon Lee</span></h3>
						<p>2017.03 ~ 2021.08 - 전북대 물리학과 학사 졸업<br>
						2020.01 ~ 2020.02 - UST 인턴쉽 수료;기초과학연구원 인턴<br>   
						2020.09 ~ 2021.11 - 전북대 입자물리학이론 연구실 학부연구생<br>
						2021.09 ~ 현재(휴학)  - 전북대학교대학원(석사과정)<br>
						2022.01 ~ 2022.06 -코리아IT학원 교육이수;파이썬기반AI인공지능 프로젝트 </p>
						</div>
						<div class="my_skills">
							<h3 class="title">What is my skill level?</h3>
							<p class="desc">2017년 부터 코딩을 공부했습니다.</p>
							<div class="wrapper">
								<div class="left">
									<div class="dodo_progress">
										<div class="progress_inner" data-value="80">
											<span class="label">Python : NumPy SciPy Pandas</span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="70" >
											<span class="label">C C++ C#</span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="90">
											<span class="label">Linux</span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="90">
											<span class="label">LaTeX</span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
									</div>
								</div>
								<div class="right">
									<div class="dodo_progress">
										<div class="progress_inner" data-value="80">
											<span class="label">Django</span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="75" >
											<span class="label">HTML CSS</span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="60">
											<span class="label">Android Studio Flutter</span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
									</div>
								</div>
							</div>
				
							<h3 class="title"><br><br>Activity</h3>
							<a>22.06.07 - 2022년 보건의료빅데이터를 활용한 창업경진대회 ~ 참가 <br>
							22.06.19 - 2022년 식의약 데이터 활용경진대회 ~ 참가</a>
							<h3 class="title"><br><br>Project</h3>
							<h3 class="title"><br><br>Career</h3>

						</div>

					</div>
				
					<div class = "rightpart wow dadelnLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<div class ="image">
							<img src="/static/img/img3.jpg" alt="" height="750" width="200" /> 	
						  	<div class="main" data-img-url="/static/img/img3.jpg"></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- /ABOUT -->
		
		
		<!-- CONTACT -->
		<div class="edina_tm_contact" id="contact">
			<div class="container">
				<div class="edina_tm_title">
					<h3>Contact</h3>
					<p>편하게 이메일 주시면 감사하겠습니다.</p>
					<a>leesooyeon815@gmail.com<br> <br>
					Kakao ID : sooyeon815 </a>
				</div>
			</div>		 	
		</div>
	
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="/static/js/plugins.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5bpEs3xlB8vhxNFErwoo3MXR64uavf6Y&callback=initMap"></script>
<script src="/static/js/init.js"></script>
<!-- /SCRIPTS -->

</body>
</html>
